0.0.0.0

browse

oauth {
	path            /data/
    client_id       mylab
    client_secret   XXXXXX
    auth_url        https://itsyou.online/v1/oauth/authorize
    token_url       https://itsyou.online/v1/oauth/access_token
    callback_path   /_iyo_callback
    login_path      /_iyo_login
    scopes          user:memberof:mylab
}


log stdout
