0.0.0.0

browse

log /tmp/access.log

oauth {
    # path is the path you want to protect
    # you can specify multiple paths
	path            /data/
	path            /data2/

    # itsyou.online client ID
    client_id       mylab

    # itsyou.online client secret   
    client_secret   fHfT3yBlZXlNRAbOSVw-PLZI2y9HgqcA0IVzXXXXXXXXXXXXXXX

    # oauth auth url
    # leave it blank for default value
    # default value : https://itsyou.online/v1/oauth/authorize
    auth_url        https://itsyou.online/v1/oauth/authorize

    # oauth2 access token URL
    # leave it blank for default value
    # default value : https://itsyou.online/v1/oauth/access_token
    token_url       https://itsyou.online/v1/oauth/access_token

    # oauth2 redirect URL
    redirect_url    http://localhost:2015/_iyo_callback

    # scopes allowed to access this protected paths
    # leave it blank if you don't want to specify it
    scopes          user:memberof:mylab
}

