#example caddy only listening on port 5080
0.0.0.0:5080/ {

    browse

    log /tmp/access.log

    # Don't forget to Add no-cache header to restricted paths
    header / Cache-Control "no-cache, no-store, must-revalidate"

    oauth {
        # itsyou.online client ID
        client_id       mylab

        # itsyou.online client secret (is the secret linked to an organization in itsyou.online (IYO))
        client_secret   fHfT3yBlZXlNRAbOSVw-PLZI2y9HgqcA0IVzXXXXXXXXXXXXXXX

        # oauth auth url
        # leave it blank for default value
        # default value : https://itsyou.online/v1/oauth/authorize
        auth_url        https://itsyou.online/v1/oauth/authorize

        # oauth2 access token URL
        # leave it blank for default value
        # default value : https://itsyou.online/v1/oauth/access_token
        token_url       https://itsyou.online/v1/oauth/access_token

        # oauth2 redirect URL
        redirect_url    http://localhost:2015/_iyo_callback

        # Organizations allowed to access the protected paths
        # leave it blank if you want to ignore it e.g. /developer is path underneith this path of the website
        organizations   /developer  mylab.developer
        organizations   /manager    mylab.manager

        # usernames allowed to access this protected paths
        # leave it blank to allow all usernames
        # - each username need to be separated with `,`
        # - you can specify it in multiple lines
        usernames       /manager    iwan

        # Everyone is allowed to access this path but authentication is required.
        # It is possible to specify this multiple times.
        authentication_required /

        # api_base_path will be excluded from auto redirecting to itsyou.online
        # but will return unauthorised status code (should be protected also with authentication_required)
        api_base_path /api/v1

        # Allow specific files even if they are set in authentication_required (so don't authenticate these files)
        # It is possible to specify this multiple times
        # typically used with static files (css, js, etc...) for login page
        allow_extension css

        # login_page to which the user will be redirected when trying to access authentication_required pages
        # leave blank if you need the users to be redirected to IYO page directly
        #login_page  /login

        # login url is the URL that will redirect the user to itsyou.online login page
        # it can be used if you need to create login button
        #login_url   /oauth

        # logout url is the URL that will logout the user and redirect him to "/"
        # it can be used if you need to create logout button
        #logout_url   /logout

        # comma separated extra scopes to be requested from IYO, it can be blank
        extra_scopes user:address,user:email,user:phone
    }

}
